[workspace]
authors = ["Hernan Picatto <hernan.picatto@ascii.ac.at>"]
channels = ["conda-forge", "https://prefix.dev/brads-forge"]
name = "gen-ai"
platforms = ["linux-64"]
version = "0.1.0"

[environments]
docs = { features = ["docs"], solve-group = "default" }
basic-research = { features = ["research-basics", "pipeline"], solve-group = "br" }
pipeline = { features = ["pipeline"], solve-group = "pipeline" }
lint = { features = ["lint"], solve-group = "default" }

[dependencies]
python = ">=3.11,<3.15"
pip = "~=25.2"

[feature.pipeline.dependencies]
pydantic = "~=2.12"
dagster = "~=1.12"
pyspark= "~=3.5"

[feature.pipeline.pypi-dependencies]
boto3 = "~=1.40"
botocore = "~=1.40"
google-auth = "~=2.43"
gcsfs = "~=2025.10"
pyarrow = "~=22.0"
dagster-gcp = "~=0.28"

[feature.docs.dependencies]
nodejs = "~=24.4"
bun = ">=1.2,<2"
sphinx = "~=8.2"

[feature.docs.pypi-dependencies]
sphinx-rtd-theme = "~=3.0.2"
autodoc-pydantic = "~=2.2.0"
sphinx-autodoc-typehints = "~=3.2.0"
myst-parser = "~=4.0.1"
sphinx-markdown-builder = ">=0.6.8,<1"

[feature.research-basics.dependencies]
ipykernel = "~=6.14"

[feature.research-basics.pypi-dependencies]
arxiv = "~=2.3"
pypdf = "~=6.3"
polars = "~=1.35"
FastWARC="~=0.15"
Resiliparse = "~=0.15"
tldextract = "~=5.3"
idna = "~=3.11"
surt = "~=0.3"
spacy = "~=3.8"  # Upgrade to support pydantic 2.x

[feature.lint.dependencies]
[feature.lint.pypi-dependencies]
[tasks]
