[workspace]
authors = ["Hernan Picatto <hernan.picatto@ascii.ac.at>"]
channels = ["conda-forge", "https://prefix.dev/brads-forge"]
name = "gen-ai"
platforms = ["linux-64"]
version = "0.1.0"

[environments]
encrypting = { features = ["base", "secrets-tools"] }
docs = { features = ["base","docs"], solve-group = "default" }
basic-research = { features = ["base","research-basics", "pipeline"], solve-group = "br" }
pipeline = { features = ["base","pipeline"], solve-group = "pipeline" }
lint = { features = ["base","lint"], solve-group = "default" }

[feature.base.dependencies]
python = ">=3.11,<3.15"
pip = "~=25.2"

[feature.pipeline.dependencies]
pydantic = "~=2.12"
dagster = "~=1.12"
pyspark= "~=3.5"
pylatexenc = "*"

[feature.pipeline.pypi-dependencies]
boto3 = "~=1.40"
botocore = "~=1.40"
google-auth = "~=2.43"
gcsfs = "~=2025.10"
pyarrow = "~=22.0"
dagster-gcp = "~=0.28"
dagster-polars = "~=0.27"
beautifulsoup4 = "~=4.14"
lxml = "~=6.0"
html5lib = "~=1.1"
dagster-webserver = "~=1.12"
google-cloud-storage = "~=3.6"
google-cloud-dataproc = "~=5.23"
dagster-pipes = "~=1.12"
polars = "~=1.35"
FastWARC="~=0.15"
Resiliparse = "~=0.15"
tldextract = "~=5.3"
idna = "~=3.11"
docling = "~=2.68"
trafilatura = "~=2.0"
nltk = "~=3.9"
pymongo = "~=4.16.0"
langchain-mongodb = "~=0.11"

[feature.docs.dependencies]
nodejs = "~=24.4"
bun = ">=1.2,<2"
sphinx = "~=8.2"

[feature.docs.pypi-dependencies]
sphinx-rtd-theme = "~=3.0.2"
autodoc-pydantic = "~=2.2.0"
sphinx-autodoc-typehints = "~=3.2.0"
myst-parser = "~=4.0.1"
sphinx-markdown-builder = ">=0.6.8,<1"

[feature.research-basics.dependencies]
ipykernel = "~=6.14"

[feature.research-basics.pypi-dependencies]
arxiv = "~=2.3"
pypdf = "~=6.3"
spacy = "~=3.8"  # Upgrade to support pydantic 2.x
surt = "~=0.3"

[feature.secrets-tools.dependencies]
go-sops = "~=3.10"
age = "~=1.2"

[feature.lint.dependencies]
[feature.lint.pypi-dependencies]
[tasks] 
create_environment_encrypt = { cmd = "pixi install -e encrypting --locked" }
create_environment_br  = { cmd = "pixi install -e basic-research --locked" }
create_environment_pipeline     = { cmd = "pixi install -e pipeline --locked" }

[feature.secrets-tools.tasks.secrets-encrypt]
cmd = """bash -c 'set -euo pipefail; PATH="$PWD/bin:$PATH"; for file in ${FILES_TO_ENCRYPT//,/ } ; do echo "Encrypting: $file"; sops --encrypt --age "$GEN_AI_AGE_PUBLIC_KEY" --input-type binary --output-type binary "$file" > "$file-dev.enc"; done'"""
env = {GEN_AI_AGE_PUBLIC_KEY = "age19nj2kfsw8l56uyf2u8hacasy9yj3wyguk9r67jp846twyq3t5vvs3zzgh5", FILES_TO_ENCRYPT = ".env" }

[feature.secrets-tools.tasks.secrets-decrypt]
cmd = """bash -c 'set -euo pipefail; PATH="$PWD/bin:$PATH"; : "${SOPS_AGE_KEY_FILE:=key.txt}"; umask 077; for file in ${FILES_TO_ENCRYPT//,/ } ; do echo "Decrypting: $file"; sops --decrypt --input-type binary --output-type binary "$file-dev.enc" > "$file"; done'"""
env = {SOPS_AGE_KEY_FILE = "key.txt", FILES_TO_ENCRYPT = ".env" }

[feature.pipeline.tasks.pipeline-dev]
description = "Start dagster UI for local pipelines project"
cwd = "src/gen_ai_pipeline"
env = { DAGSTER_HOME = "~/development/software/dagster/home" }
cmd = """sh -c 'mkdir -p ${HOME}/development/software/dagster/home' && dagster dev"""

[feature.pipeline.tasks.create_sh]
description = "Create executable for Dataproc"
cwd = "src/gen_ai_pipeline/gen_ai_pipeline/resources/"
cmd = """
pixi-pack --create-executable --environment pipeline --platform linux-64 {{ pixi.manifest_path }} 
"""