[workspace]
authors = ["Hernan Picatto <hernan.picatto@ascii.ac.at>"]
channels = ["conda-forge", "https://prefix.dev/brads-forge"]
name = "gen-ai"
platforms = ["linux-64"]
version = "0.1.0"

[environments]
docs = { features = ["docs"], solve-group = "default" }
basic-research = { features = ["research-basics", "pipeline"], solve-group = "br" }
pipeline = { features = ["pipeline"], solve-group = "pipeline" }
lint = { features = ["lint"], solve-group = "default" }

[dependencies]
python = ">=3.12,<3.13"
pip = "~=25.2"

[feature.pipeline.dependencies]
[feature.pipeline.pypi-dependencies]
dagster = "~=1.12"
boto3 = "~=1.40"
botocore = "~=1.40"
[feature.docs.dependencies]
nodejs = "~=24.4.1"
bun = ">=1.2.19,<2"
sphinx = "~=8.2.3"

[feature.docs.pypi-dependencies]
sphinx-rtd-theme = "~=3.0.2"
autodoc-pydantic = "~=2.2.0"
sphinx-autodoc-typehints = "~=3.2.0"
myst-parser = "~=4.0.1"
sphinx-markdown-builder = ">=0.6.8,<1"

[feature.research-basics.dependencies]
ipykernel = "~=6.14"
[feature.research-basics.pypi-dependencies]
arxiv = "~=2.3"
pypdf = "~=6.3"
polars = "~=1.35"
FastWARC="~=0.15"
Resiliparse = "~=0.15"
tldextract = "~=5.3"
idna = "~=3.11"
surt = "~=0.3"
coreferee 1.4.1

[feature.lint.dependencies]
[feature.lint.pypi-dependencies]
[tasks]
